header {
    padding-top: 25px;
    text-align: center;
    justify-content: center;
}

header img {
    border-radius: 90px;
}

.position {
    margin: 0 auto;
    width: fit-content;
    line-height: 70px;
    font-family: sans-serif;
    letter-spacing: 4px;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    border-bottom: 3px rgb(194, 190, 190) solid;
    width: fit-content;
    margin: 0 auto;    
    font-family: Duality;
    font-weight: lighter;
}

.leftColumn {
    width: 50%;
    display: block;
    overflow: auto;
    float: left;
    text-align: center;
    height: 808px;
}

.rightColumn {
    width: 50%;
    display: block;
    overflow: auto;
    float: right;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.summary {
    text-align: center;
    padding: 20px 130px 70px 130px;
    font-family: sans-serif;
    font-weight: lighter;
}

p {
    text-transform: capitalize;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 0px;
}

article {
    display: block;
    overflow: auto;
    padding: 20px 60px 20px 60px;
    background-color: white;
    margin-bottom: 3px;
}

article .experience {
    height: 310px;   
}

.experiencePosition {
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 37px;
}

.jobDescription {
    margin-top: 7px;
}

.wrapper {
    width: 100vw;
    display: block;
    overflow: auto;
    background-color: rgb(194, 190, 190);
}

h2 {
    margin-top: 0px;
    text-align: center;
}

.label-grey {
    color: grey;
}

.code {
    width: fit-content;
    padding-left: 10px;
    padding-right: 18px;
    text-align: left;
    margin-right: 0px;
    padding-bottom: 5px;

}

.code-preview {
    width: fit-content;
    text-align: left;
    line-height: 25px;
    background-color: rgb(230, 225, 225);
    margin-top: 40px;
}

.leftColumn article {
    display: block;
    overflow: auto;
    padding: 33px 60px 70px 60px;
    background-color: white;
    margin-right: 3px;
    margin-bottom: 3px;
}

.code h2 {
    padding-top: 3px;
    width: 50vw;
    float: left;
}

.phone-number {
    width: 50vw;
    float: left;
}

.email {
    padding-top: 0px;
    width: 50vw;
    float: right;
}

.email > p {
    text-transform: lowercase !important;
}

footer {
    background-color: rgb(194, 190, 190);
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    margin-left: 0;
    display:table;
    padding-top: 30px;
    padding-bottom: 40px;
}

.icon {
    width: 20px;
    height: 20px;

}

.fas {
    margin-right: 20px;
    font-size: 20px;
}
